body {
    background-color: #131313;
    background-image: url("./SabatonGrey.jpg");
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover, auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    width: auto;
    height: 100%;
}

#h2time {
    font-family: "Share Tech Mono", monospace;
    text-align: center;
    font-weight: bold;
    color: gold;
    font-size: 7.5em;
}

h3 {
    font-family: "Share Tech Mono", monospace;
    color: gold;
    font-size: 1.5em;
}

h4 {
    font-family: "Share Tech Mono", monospace;
    color: gold;
    font-size: 0.84em;
}

button {
    font-family: "Share Tech Mono", monospace;
    font-size: 20px;
    border-radius: 12px;
    border: 2px solid;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #131313;
    font-weight: bolder;
}

button:hover {
    background-color: #333333;
}

#alarmset {
    color: green;
    border-color: green;
}

#alarmcancel {
    color: red;
    border-color: red;
}

button:disabled {
    color: #333333;
    border-color: #333333;
    cursor: not-allowed;
}

#player {
    background-position: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

#alarm-placeholder {
    background-position: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

#date-time {
    font-family: "Share Tech Mono", monospace;
    background-color: transparent;
    color: gold;
    font-size: 33px;
    margin-top: -20px;
}

@media screen and (max-width: 600px) {
    body{
        background-image: url("./alt-background.png");
        background-size: cover, auto;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    #h2time {
        font-size: 4.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    button {
        font-size: 16px;
        padding: 8px;
        margin: 8px;
    }

    #date-time {
        font-size: 20px;
        margin-top: -10px;
    }

    #alarm-placeholder {
        background-position: center;
        width: 100%;
        height: auto;
    }
    
}